# OS
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Python
backend/.venv/
backend/__pycache__/
backend/**/*.pyc
backend/.env
backend/.env.localhost
backend/.env.production

# Django
backend/staticfiles/
backend/media/
*.log

# Node
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.production

# Local datasets / extracts
clean_enron_emails_sample.csv
tmp_report_extract/
